.top-header-icon {
  margin-left: 7%;
}

.all-time-link {
  color: #b1adad !important;
}

.links {
  width: 50%;
}

/*########### main body ###################*/

.row {
  margin-top: 1rem;
}

.icon-col {
  width: 12% !important;
}
.crypto-icon {
  width: 113px;
  height: 113px;
  margin: 10px;
  /* padding-right: 10px; */
  border-radius: 50%;
}
.price-tag {
  width: 6rem !important;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;
  height: 4rem;
  margin-top: 2rem !important;
}

.price-tag td {
  color: #000;
  font-weight: 500;
}

.price-tag .price {
  color: #666;
  font-weight: unset;
}

.bars {
  width: 77% !important;
}

.crypto-name {
  color: #666;
}

.crypto-multiple {
  color: #000;
  margin-left: 3rem !important;
}

.m1 {
  float: right;
}

.dashes {
  margin-left: 10px;
  border-bottom: 1px dashed #666;
  height: 1.5rem;
}

.guage {
  background-color: darkslateblue;
  height: 3rem;
  border-radius: 5rem;
}

.gradient {
  width: 40% !important;
  height: 100%;
  background: linear-gradient(to right, white, darkslateblue);
}

/* .g1 {
  width: 98% !important;
} */

.g2 {
  width: 25% !important;
}

.g3 {
  width: 15% !important;
}

.g4,
.g5,
.g6,
.g7 {
  width: 14% !important;
}

@media screen and (max-width: 650px) {
  .crypto-icon {
    /* width: 3rem !important;
    margin-top: 1.3rem !important; */
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border-radius: 50%;
  }

  .price-tag {
    width: 4.5rem !important;
    height: 3rem;
    font-size: 0.8rem;
    margin-top: 1.3rem !important;
  }

  .bars {
    width: 65% !important;
    font-size: 0.8rem;
  }

  .dashes {
    margin-left: 18px;
    height: 0.8rem;
  }

  .guage {
    height: 1.5rem;
  }
}
